.header_wrapper {
  background-color: #000;
  .container {
    max-width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 20px 0;
    ul {
      display: flex;
      align-items: center;
      column-gap: 30px;
      button {
        color: #fff;
        padding: 15px 40px;
        border: none;

        background: #4a3d68;
        border-radius: 10px;
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}
